<!--Header-->
<header class="header">
  You on Movemeback
  <br />
  <span>Your profile</span>
</header>

<!--Page 1-->
<ng-template [ngIf]="interestsPage === 1">
  <!-- todo: User Interest introductory description-->
  <p class="page-description">Your Interests</p>
  <!--User Interest selection content-->
  <section class="content" id="page-1">
    <div class="interest-wrapper" *ngFor="let id of object.keys(interestsData)">
      <div
        [ngClass]="{
          interest: true,
          selected: selectedInterestsToDisplay.hasOwnProperty(id)
        }"
        (click)="handleOnClickInterest(id)"
      >
        <div class="interest-text">
          <img
            [alt]="interestsData[id]?.title"
            [src]="interestsData[id]?.image"
          />{{ interestsData[id]?.title }}
        </div>
      </div>
    </div>
  </section>
</ng-template>

<!--Page 2-->
<ng-template [ngIf]="interestsPage === 2">
  <p class="page-description">Give us a little more detail 😊</p>
  <section id="page-2" class="content">
    <nz-collapse nzGhost>
      <nz-collapse-panel
        class="interest-item"
        [nzHeader]="interestHeader"
        *ngFor="let interestId of object.keys(selectedInterestsToDisplay)"
      >
        <ng-template #interestHeader>
          <label
            nz-checkbox
            class="interest-header"
            [ngModel]="selectedInterests.hasOwnProperty(interestId)"
            (ngModelChange)="handleOnToggleInterest(interestId)"
            >{{ interestsData[interestId]?.title }}</label
          >
        </ng-template>
        <nz-collapse-panel
          id="sub-interest-panel"
          [nzHeader]="subInterestHeader"
          *ngFor="
            let subInterestId of object.keys(
              interestsData[interestId]?.subInterests
            )
          "
        >
          <ng-template #subInterestHeader>
            <label
              class="sub-interest-item"
              nz-checkbox
              [ngModel]="selectedSubInterests.hasOwnProperty(subInterestId)"
              (ngModelChange)="
                handleOnToggleSubInterest(interestId, subInterestId)
              "
              >{{
                interestsData[interestId].subInterests[subInterestId].title
              }}</label
            >
          </ng-template>
          <label
            class="sub-sub-interest-item"
            nz-checkbox
            *ngFor="
              let subSubInterestId of object.keys(
                interestsData[interestId].subInterests[subInterestId]
                  .subInterests
              )
            "
            [ngModel]="selectedSubSubInterests.hasOwnProperty(subSubInterestId)"
            (ngModelChange)="
              handleOnToggleSubSubInterest(
                interestId,
                subInterestId,
                subSubInterestId
              )
            "
            >{{
              interestsData[interestId].subInterests[subInterestId]
                .subInterests[subSubInterestId].title
            }}</label
          >
        </nz-collapse-panel>
      </nz-collapse-panel>
    </nz-collapse>
  </section>
</ng-template>

<!--Page 3 (display)-->
<ng-template [ngIf]="interestsPage === 3">
  <section id="page-3" class="content">
    <button (click)="logData()" id="log-btn">Log data</button>
    <p>Click the button and open the console to view the user's data</p>
  </section>
</ng-template>

<!--User Interest selection footer-->
<div class="footer">
  <button id="next" (click)="handleOnClickNext()">Next</button>
  <button id="back" (click)="handleOnClickBack()">Back</button>
</div>
