$dark-base-color: #031529;
$footer-color: aliceblue;

:host {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  padding: 25px;
  background: $dark-base-color;
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: large;
  flex: 0 1 auto;

  span {
    font-size: 15px;
    font-weight: normal;
  }
}

#page-1 {
  .interest {
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    &-wrapper {
      position: relative;
    }

    &-text {
      background: aliceblue;
      text-align: center;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.selected {
      &:before {
        position: absolute;
        content: " \2714";
        font-size: xx-large;
        display: flex;
        justify-content: center;
        align-items: center;
        background: lightblue;
        width: 150px;
        height: 150px;
        opacity: 0.8;
        pointer-events: none;
        border-radius: 5px;
      }
    }
  }
}

.content {
  background: #fff;
  margin: 0 13%;
  flex: 1 1 auto;
  overflow-x: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer {
  background: aliceblue;
  flex: 0 0 100px;
  display: flex;
  flex-direction: column;

  button {
    margin: 6px 20%;
    flex-grow: 1;
    border-radius: 20px;
    outline: none;

    &#next {
      border: none;
      background: $dark-base-color;
      color: #fff;
      cursor: pointer;
    }

    &#back {
      border: 1px solid $dark-base-color;
      background: $footer-color;
      color: $dark-base-color;
      cursor: pointer;
    }
  }
}

#page-2 {
  &.content {
    display: block;
  }

  .sub-interest-item {
    display: inline-block;
    margin-left: 20px;
  }

  .interest-header {
    font-size: 17px;
    font-weight: bold;
  }

  & > nz-collapse {
    margin-top: 20px;
  }

  nz-collapse-panel#sub-interest-panel {
    margin-left: 30px;
    cursor: pointer;
  }

  .sub-sub-interest-item {
    margin-left: 40px;
  }
}

#page-3 {
  &.content {
    flex-direction: column;
    align-items: center;
  }

  #log-btn {
    width: 100px;
    padding: 10px;
    color: #fff;
    background: $dark-base-color;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
  }
}

.page-description {
  text-align: center;
  font-weight: bold;
  color: $dark-base-color;
  margin: 10px;
}
