<!--User Interest selection header-->
<header class="header">
  You on Movemeback
  <br />
  <span>Your profile</span>
</header>

<!--Page 1-->
<ng-template [ngIf]="interestsPage === 1">
  <!-- todo: User Interest introductory description-->
  <!--User Interest selection content-->
  <section [@easeIn] class="content" id="page-1">
    <div class="interest-wrapper" *ngFor="let id of object.keys(interestsData)">
      <div
        [ngClass]="{
          interest: true,
          selected: selectedInterestsToDisplay.hasOwnProperty(id)
        }"
        (click)="handleClickInterest(id)"
      >
        <div class="interest-text">
          <img
            [alt]="interestsData[id]?.title"
            [src]="interestsData[id]?.image"
          />{{ interestsData[id]?.title }}
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template [ngIf]="interestsPage === 2">
  <div id="page-2" class="content" [@easeIn]>
    <nz-collapse nzGhost>
      <nz-collapse-panel
        class="interest-item"
        [nzHeader]="interestHeader"
        *ngFor="let interestId of object.keys(selectedInterestsToDisplay)"
      >
        <ng-template #interestHeader>
          <label
            nz-checkbox
            class="interest-header"
            [ngModel]="selectedInterests.hasOwnProperty(interestId)"
            (ngModelChange)="handleOnToggleInterest(interestId)"
            >{{ interestsData[interestId]?.title }}</label
          >
        </ng-template>
        <nz-collapse-panel
          id="sub-interest-panel"
          [nzHeader]="subInterestHeader"
          *ngFor="
            let subItemId of object.keys(
              interestsData[interestId]?.subInterests
            )
          "
        >
          <ng-template #subInterestHeader>
            <label
              class="sub-interest-item"
              nz-checkbox
              [ngModel]="selectedSubInterests.hasOwnProperty(subItemId)"
              (ngModelChange)="handleOnToggleSubInterest(subItemId)"
              >{{
                interestsData[interestId].subInterests[subItemId].title
              }}</label
            >
          </ng-template>
          <label
            class="sub-sub-interest-item"
            nz-checkbox
            *ngFor="
              let subSubItemId of object.keys(
                interestsData[interestId].subInterests[subItemId].subInterests
              )
            "
            [ngModel]="selectedSubSubInterests.hasOwnProperty(subSubItemId)"
            (ngModelChange)="handleOnToggleSubSubInterest(subSubItemId)"
            >{{
              interestsData[interestId].subInterests[subItemId].subInterests[
                subSubItemId
              ].title
            }}</label
          >
        </nz-collapse-panel>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</ng-template>

<!--User Interest selection footer-->
<div class="footer">
  <button id="next" (click)="handleOnClickNext()">Next</button>
  <button id="back" (click)="handleOnClickBack()">Back</button>
</div>
